@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
            Sabiranje
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
            Oduzimanje
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default" href="@Url.Action("Mnozenje", "Game")">
            Množenje
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
            Deljenje
        </a>
    </div>
</div>
